/*
 * Webfonts
 */
 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

 /*
   * Variables
   */
 :root {
   --color-purple-light: rgb(139, 107, 197);
   --color-purple: #7E57C5;
   --color-purple-dark: #412D66;
   --color-purple-darkest: #201633;
   --color-green: #5AB946;
   --color-red: #ED0034;
   --color-black: #000;
   --color-white: #fff;
   --spacer: 16px;
   --font-family-sourcesanspro: 'Source Sans Pro', sans-serif;
 }
 
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }
 
 body {
   font-family: var(--font-family-sourcesanspro);
   font-size: 16px;
 
   font-weight: 400;
   line-height: 1.42;
 
   background: var(--color-black);
   color: var(--color-white);
 }
 
 /*
   * Headings
   */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: var(--font-family-sourcesanspro);
 
   font-weight: 900;
   line-height: 1.42;
 }
 
 h1 {
   font-size: 3rem;
   font-weight: 900;
 }
 
 h1 {
   font-size: 2.4rem;
   font-weight: 700;
 }
 
 h3 {
   font-size: 1.8rem;
   font-weight: 700;
 }
 
 h4 {
   font-size: 1.4rem;
   font-weight: 600;
 }
 
 h5 {
   font-size: 1.2rem;
   font-weight: 600;
 }
 
 h6 {
   font-size: 1rem;
   font-weight: 600;
 }
 
 /*
   * Header
   */
 .header {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: space-between;
 
   position: fixed;
   z-index: 998;
   width: 100vw;
   top: 0;
 
   padding: 2em;
 }
 
 .header__logo {
   background: url('../media/images/logo.svg');
   background-repeat: no-repeat;
   background-position: left center;
   display: block;
   width: 300px;
   height: 62.2833px;
 
   text-indent: -999em;
 }
 
 .header__logo>a {
   display: block;
   width: 100%;
   height: 100%;
   line-height: 128px;
 
   text-decoration: none;
   text-align: center;
 
   color: var(--color-purple-light);
 }
 
 /*
   * Navigation
   */
 .header__nav {}
 
 .nav__list {
   list-style: none;
 
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
 }
 
 .nav__link {
   position: relative;
   display: block;
   color: var(--color-white);
   text-decoration: none;
 
   font-size: 1.4rem;
   font-weight: 700;
 
   padding: 0.5em;
 }
 
 .nav__link::before {
   position: absolute;
   bottom: 0;
   display: block;
   content: '';
   background: var(--color-white);
   width: 0;
   height: 4px;
 
   transition: all 386ms ease-out 0s;
 }
 
 .nav__link:hover::before {
   width: calc(100% - 1em);
 }
 
 /*
   * Home page
   */
 .page--home {
   background-image: linear-gradient(black, black), url(../media/images/home.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-blend-mode: saturation;
   background-color: transparent;
 }
 
 .page--home * {
   transition: all 268ms ease-in-out 0s;
 }
 
 .page--home .main {
   height: 100vh;
 
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   justify-items: center;
 }
 
 .page--home .main>div {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
 }
 
 .page--home .main .title {
   margin: 0 auto var(--spacer);
   padding: var(--spacer);
   font-size: 5.6rem;
   text-align: center;
 
   background-color: var(--color-purple);
   display: inline;
 }
 
 .page--home .main .sub-title {
   margin: 0;
   padding: var(--spacer);
   font-size: 2rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   background-color: var(--color-red);
 }
 
 .page--home .main .description {
   margin: 0;
   padding: var(--spacer);
   font-size: 1.4rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   color: var(--color-white);
 }
 
 .page--home .main .description a {
   margin: 0;
   padding: calc(var(--spacer) / 4);
   font-size: 1.4rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   background-color: var(--color-purple);
   color: var(--color-red);
   text-decoration: none;
 }
 
 .page--home .main .description>a:hover {
   background-color: var(--color-red);
   color: var(--color-purple);
 }
 
 /*
   * 404 page
   */
 .page--404 {
   background-image: linear-gradient(black, black), url(../media/images/404.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   background-blend-mode: saturation;
   background-color: transparent;
 }
 
 .page--404 * {
   transition: all 268ms ease-in-out 0s;
 }
 
 .page--404 .main {
   height: 100vh;
 
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   align-content: center;
   justify-items: center;
 }
 
 .page--404 .main>div {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
 }
 
 .page--404 .main .title {
   margin: 0 auto var(--spacer);
   padding: var(--spacer);
   font-size: 5.6rem;
   text-align: center;
 
   background-color: var(--color-purple);
   display: inline;
 }
 
 .page--404 .main .sub-title {
   margin: 0;
   padding: var(--spacer);
   font-size: 2rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   background-color: var(--color-red);
 }
 
 .page--404 .main .description {
   margin: 0;
   padding: var(--spacer);
   font-size: 1.4rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   color: var(--color-white);
 }
 
 .page--404 .main .description a {
   margin: 0;
   padding: calc(var(--spacer) / 4);
   font-size: 1.4rem;
   text-align: center;
   text-transform: uppercase;
   font-weight: 900;
 
   background-color: var(--color-purple);
   color: var(--color-red);
   text-decoration: none;
 }
 
 .page--404 .main .description>a:hover {
   background-color: var(--color-red);
   color: var(--color-purple);
 }