<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{ error.statusCode }} | Associate Degree in Computer Programming</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="page--404">
        {% include "partials/header.html" %}
        <main class="main">
            <div>
                <h1 class="title">{{ error.statusCode }}</h1>
                <p class="sub-title">{{ error.message }}</p>
                <p class="description">The path {{ url }} is not bugfree.<br>Try searching or go to <a href="/" target="_self">Associate Degree in Computer Programming homepage.</a></p>
            </div>
        </main>
    </div>
</body>
</html>