<header class="header">
    <h1 class="header__logo">
        <a href="/" title="Back to the homepage Associate Degree in Computer Programming">
            Graduaat Programmeren
        </a>
    </h1>
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="/" title="Homepage Graduaat Programmeren">Home</a></li>
            <li class="nav__item"><a class="nav__link" href="https://www.arteveldehogeschool.be/opleidingen/graduaat/programmeren/ontdek-je-opleidingsprogramma" title="Opleidingsprogramma">Opleiding</a></li>
            <li class="nav__item"><a class="nav__link" href="https://www.gdm.gent/cases" title="Projecten">Projecten</a></li>
            <li class="nav__item"><a class="nav__link" href="https://www.gdm.gent/blog" title="Laatse nieuws">Nieuws</a></li>
            <li class="nav__item"><a class="nav__link" href="https://www.arteveldehogeschool.be/opleidingen/graduaat/programmeren/vragen-stel-ze" title="Contacteer ons">Contact</a></li>
        <ul>
    </nav>
</header>